@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
    --mainCol: #5c017d;
}

* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.modal__open {
    height: 100vh;
    overflow-y: hidden;
}

main {
 width: 100%;
 max-width: 1280px;
 padding: 0px 40px;
 margin: 0px auto;
 font-family: 'Teko', sans-serif;
}

header {
    display: flex;
    align-items: center;
}

img {
    width: 50px;
}

h1 {
    font-size: 65px;
    margin: 0;
    font-weight: 700;
    vertical-align: middle;
    padding-top: 13px;
    margin-left: 15px;
    background: linear-gradient(to right, #a390ca 0%, #5c017d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    display: flex;
    flex-wrap: nowrap;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0px;
    text-align: center;
    color: var(--mainCol);
}

.catalog {
    width: 100%;
    max-width: 840px;
}

.book__container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.book__wrapper {
    margin-bottom: 10px;
}

.book__content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 190px;
    height: 100%;
    border: 1px solid #b3a8cb;
    position: relative;
    overflow: hidden;

}

.book__content img {
    width: 170px;
    height: 260px;
}

h3 {
    font-size: 17px;
    color: var(--mainCol);
    margin: 0px;
}

h4 {
    font-size: 22px;
    font-weight: 300;
    color: var(--mainCol);
    margin: 0px;
}

.price {
    font-size: 22px;
    font-weight: 300;
    margin: 0px;
    color: rgb(235, 51, 51);
}

.button__box {
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 2.5px;
    right: -100px;
    transition: all .3s ease-out;
}

.book__content:hover .button__box {
    right: 2.5px;
}

.btn {
    border: 1px solid #b3a8cb;
    background-color: aliceblue;
    width: 40px;
    height: 40px;
    font-family: cursive;
    font-size: 20px;
    border-radius: 50%;
    font-weight: 700;
    margin: 2.5px;
    transition: all .3s ease-out;
}

.open__modal {
    font-size: 11px;
    text-align: center;
    line-height: 10px;
}

.btn:hover {
    background-color:#b3a8cb;
    cursor: pointer;
}

.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5310665d;
    z-index: 100;
    display: none;
}

.modal__body {
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:  #f7f5fa;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-content: center;
    align-items: center;
}

.book__cover__modal {
    max-width: 230px;
    height: 340px;
    width: 100%;
    border-radius: 20px;
    margin-right: 20px
}

.description p {
    text-align: justify;
}

.close__modal {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    font-size: 13px;
}

.cart {
    margin-left: 20px;
    min-width: 340px;
    border-radius: 10px;
}

.cart__content {
    background-color: #ffffff;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #b3a8cb;
}

.total__sum {
    margin: 0px 10px;
    font-size: 25px;
    border-top: .5px solid #b3a8cb;
    text-align: center;
}

.cart__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #b3a8cb;
    margin: 15px 10px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}

.cart__description p{
    line-height: 15px;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    padding: 5px 10px;
}

.delete__book {
    font-size: 8px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    right: -10px;
}